@font-face {
  font-family: "iconfont"; /* Project id 4618431 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1724141507715') format('woff2'),
       url('iconfont.woff?t=1724141507715') format('woff'),
       url('iconfont.ttf?t=1724141507715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Nginx:before {
  content: "\e687";
}

.icon-home1:before {
  content: "\e7c6";
}

.icon-boke:before {
  content: "\e60b";
}

.icon-heimabang:before {
  content: "\e78b";
}

.icon-heimao:before {
  content: "\e609";
}

.icon-Netty:before {
  content: "\e7c0";
}

.icon-xml1:before {
  content: "\e8b8";
}

.icon-Pdf:before {
  content: "\e876";
}

.icon-PDF:before {
  content: "\e715";
}

.icon-pdf:before {
  content: "\e619";
}

.icon-tiaosepan:before {
  content: "\e667";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-home:before {
  content: "\e66d";
}

.icon--regexpreplace:before {
  content: "\e6a6";
}

.icon-jenkins:before {
  content: "\e608";
}

.icon-liushuixian:before {
  content: "\e678";
}

.icon-jiami:before {
  content: "\e631";
}

.icon-puppeteer:before {
  content: "\e6f2";
}

.icon-crontab:before {
  content: "\eacd";
}

.icon-book:before {
  content: "\e60a";
}

.icon-gdoc:before {
  content: "\e8a6";
}

.icon-Mysql1:before {
  content: "\e65a";
}

.icon-time:before {
  content: "\e61d";
}

.icon-wangzhankaifa:before {
  content: "\e6c8";
}

.icon-spring:before {
  content: "\e602";
}

.icon-guanligongju:before {
  content: "\e627";
}

.icon-weifuwu:before {
  content: "\e67f";
}

.icon-springcloud:before {
  content: "\e604";
}

.icon-weifuwu1:before {
  content: "\e68a";
}

.icon-weifuwu2:before {
  content: "\e606";
}

.icon-spring-cloud:before {
  content: "\e607";
}

.icon-ossduixiangcunchuOSS:before {
  content: "\e8b1";
}

.icon-docker:before {
  content: "\e600";
}

.icon-linux:before {
  content: "\e80b";
}

.icon-git:before {
  content: "\e658";
}

.icon-ESpeizhi:before {
  content: "\e603";
}

.icon-rabbitmq:before {
  content: "\e72b";
}

.icon-pluginIcon:before {
  content: "\e605";
}

.icon-MYBATIS:before {
  content: "\e695";
}

.icon-mybatisplus:before {
  content: "\e601";
}

.icon-Mysql:before {
  content: "\e788";
}

.icon-Redis:before {
  content: "\e789";
}

