// place your custom styles here
code{
    color:#ff7675;
}

// blockquote {
//     border-color: var(--theme-color);
// }
.no-sidebar {
    .DocSearch .DocSearch-Button-Key{
        background-color: #6666664b;
    }
    .vp-navbar{
        background-color: transparent;
    }
    .search-pro-button{
        border: none;
        color: #666;
        background-color: rgb(93 93 93 / 51%);
    }
    .vp-hero-mask{
        height: 100vh;
        top: -3.75rem;
    }   
}
// a::after{
//     content: n;
// }


.vp-child-catalog{
    list-style: none;
}

// .external-link-icon{
//     display: none;
// }

.vp-catalog-list li{
    list-style: none;
}
.vp-catalog-wrapper h2{
    display: none;
}
a{
    cursor: pointer !important;
}

// .vp-sub-catalog-link{
//     background-color: rgba(255, 0, 0, 0) !important;
// }
// .vp-sub-catalog-link:hover{
//     color: white;
//     background-color: var(--vp-c-accent);
// }

// blockquote:hover{
//     box-shadow: rgba(104, 108, 112, 0.2) 0px 5px 24px;
//     transition: .3s;
// }

// blockquote {
//     border-left: 4px solid var(--theme-color);
//     border-radius: 10px;
//     padding: 0rem 1rem 0.5rem 1rem;

//     p{
//         margin-top: 10px;
//     }
// }


// blockquote:before {
//     color: #ccc;
//     content: '\270D';
//     font-size: 1em;
//     line-height: 1em;
//     margin-right: 0.25em;
//     vertical-align: -0.6em;
// }