// place your custom styles here
code{
    color:#ff7675;
}

blockquote {
    border-color: var(--theme-color);
}
.no-sidebar {
    .vp-navbar{
        background-color: transparent;
        color: black;
    }
    .search-pro-button{
        border: none;
        color: #666666;
        background-color: rgb(93 93 93 / 51%);
    }
    .search-pro-key{
        border: none;
    }
    kbd{
        background-color: transparent;
    }
    .vp-hero-mask{
        height: 100vh;
        top: -3.75rem;
    }   
}
// a::after{
//     content: n;
// }


.vp-child-catalog{
    list-style: none;
}

.external-link-icon{
    display: none;
}

li.vp-catalog {
    list-style: none;
}
.vp-catalog-wrapper h2{
    display: none;
}



blockquote {
    border-left: 4px solid var(--theme-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 24px;
    border-radius: 10px;
    padding: 0rem 1rem 0.5rem 1rem;
}


blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.6em;
}