// place your custom styles here
code{
    color:#fc3e4e;
}

blockquote {
    border-color: var(--theme-color);
}
.no-sidebar {
    .vp-navbar{
        background-color: transparent;
        backdrop-filter:none;
        color: black;
    }
    .search-pro-button{
        border: none;
        background-color: transparent;
    }
    .search-pro-key{
        border: none;
    }
    kbd{
        background-color: transparent;
    }
    .vp-hero-mask{
        height: 100vh;
        top: -3.75rem;
    }   
}
// a::after{
//     content: n;
// }


.vp-child-catalog{
    list-style: none;
}

.external-link-icon{
    display: none;
}